$blue: #0071ce;
$red: #de1c24;
$yellow: #ffc220;
$yellow-light: #fff200;
$white: #ffffff;
$orange: #fa6400;
$green: #5fb446;
$dark: #041e42;
$black: #041e42;

$highlight: #e2e2e2;
$push: #efefef;

$tiny: 8pt;
$small: 12pt;
$medium: 16pt;
$large: 40pt;

$smallScreenSize: 768px;
