@font-face {
  font-family: "BogleWeb";
  src: url("../fonts/BogleWeb-Bold.eot");
  src: url("../fonts/BogleWeb-Bold.ttf") format("truetype"),
  url("../fonts/BogleWeb-Bold.woff") format("woff"),
  url("../fonts/BogleWeb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BogleWeb";
  src: url("../fonts/BogleWeb-Bold.eot");
  src: url("../fonts/BogleWeb-Bold.ttf") format("truetype"),
  url("../fonts/BogleWeb-Bold.woff") format("woff"),
  url("../fonts/BogleWeb-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "BogleWeb";
  src: url("../fonts/BogleWeb-Regular.eot");
  src: url("../fonts/BogleWeb-Regular.ttf") format("truetype"),
  url("../fonts/BogleWeb-Regular.woff") format("woff"),
  url("../fonts/BogleWeb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}